# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs and temp
*.log
*.tmp
*.bak
*.out

# Env
.env
.env.*
deploy/k8s/overlays/dev/secret.env
deploy/k8s/overlays/staging/secret.env

# Go
bin/
*.test
coverage.out
app/.cache/
app/uptime-api
app/uptime-api.exe

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json
backend.hcl

# Python cache if scripts grow
__pycache__/
*.pyc
