bucket         = "itsredbull-devops-app-platform-tf-state"
key            = "staging/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "devops-app-platform-tf-locks"
encrypt        = true
